<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.FitConnectApp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />
	<application android:label="FitConnectApp" android:theme="@android:style/Theme.Light.NoTitleBar">
		<activity android:label="SignInHubActivity" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" />
	</application>
</manifest>